/* Cores do Layout (Cabeçalho) */

$primaryColor: #4D91C5;
$primaryDarkColor: #002f62;
$primaryLightColor: #6183c1;
$accentColor: #EFA100;
$accentDarkColor: #EFA100;
$accentLightColor: #000000;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';