/* Cores do Sistema (botões) */

$primaryColor: #4D91C5;
$primaryDarkColor: #0e5172;
$primaryLightColor: #6183c1;
$accentColor: #3682a6;
$accentDarkColor: #3682a6;
$accentLightColor: #000000;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../sass/theme/_theme';